<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>title</key>
			<string>なぜVOXを使う？</string>
			<key>answers</key>
			<array>
				<string>自分の心をよく見る</string>
				<string>自分の考えをよく弁える</string>
				<string>好奇心のため</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXに何をしてもらいたい？</string>
			<key>answers</key>
			<array>
				<string>自分の心を記錄</string>
				<string>自分の考えを記錄</string>
				<string>生活の趣を発見</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで会いたい人は？</string>
			<key>answers</key>
			<array>
				<string>深みがある人</string>
				<string>賢い人</string>
				<string>面白い人</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで一番嫌いな人</string>
			<key>answers</key>
			<array>
				<string>不誠実な人</string>
				<string>ロジックがない人</string>
				<string>馴れ馴れしい人</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで一番重視することは？</string>
			<key>answers</key>
			<array>
				<string>誠実な態度</string>
				<string>はっきりしたロジック</string>
				<string>面白い話</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで記錄したいのは何だ？</string>
			<key>answers</key>
			<array>
				<string>自分の心の世界</string>
				<string>自分の思想</string>
				<string>自分の奇妙な考え</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで聞きたいのは？</string>
			<key>answers</key>
			<array>
				<string>私も経験した</string>
				<string>完全に同意します</string>
				<string>同感します</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>VOXで見たいのは？</string>
			<key>answers</key>
			<array>
				<string>苦しみへの扱い方</string>
				<string>周りのことへの見解</string>
				<string>他人のストーリー</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>一年後の自分がどのようになると期待している？</string>
			<key>answers</key>
			<array>
				<string>もっと純粋</string>
				<string>もっとすごい</string>
				<string>もっと平和</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>一年後、VOXでどんな友達を作りたい？</string>
			<key>answers</key>
			<array>
				<string>苦しみをシェアできる友達</string>
				<string>親しい友達</string>
				<string>分かり合う友達</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自分をどう思いますか？</string>
			<key>answers</key>
			<array>
				<string>社交がうまい</string>
				<string>社交が下手だ</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自分をどう思う？</string>
			<key>answers</key>
			<array>
				<string>想像力がすごいが、多数は現実でない</string>
				<string>想像力がすごいが、多数は現実的だ</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自分をどう思う？</string>
			<key>answers</key>
			<array>
				<string>冷たい人間だ</string>
				<string>暖かい人間だ</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自分をどう思うか？</string>
			<key>answers</key>
			<array>
				<string>自分が悪いと知りつつ、変えない</string>
				<string>相手が正しい場合は、受け入れるかも</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
