<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionsFT</key>
	<array>
		<dict>
			<key>result</key>
			<array>
				<string>无</string>
				<string>无</string>
				<string>无</string>
				<string>无</string>
			</array>
			<key>title</key>
			<string>妳的性格最適合在以下哪壹類動漫中擔任主角？</string>
			<key>answers</key>
			<array>
				<string>推理或懸疑類動漫</string>
				<string>戰爭或科幻類動漫</string>
				<string>熱血動漫或搞笑動漫</string>
				<string>治愈系動漫</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>以下4種人設，哪壹種更接近妳的真實性格？</string>
			<key>result</key>
			<array>
				<string>I</string>
				<string>I</string>
				<string>E</string>
				<string>E</string>
			</array>
			<key>answers</key>
			<array>
				<string>憂郁內斂</string>
				<string>懶到發黴</string>
				<string>熱血貪吃</string>
				<string>飛揚跋扈</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>以妳的外表來說，妳的角色最容易給他人留下的第壹印象是？</string>
			<key>result</key>
			<array>
				<string>S</string>
				<string>S</string>
				<string>N</string>
				<string>N</string>
			</array>
			<key>answers</key>
			<array>
				<string>時髦</string>
				<string>靈巧</string>
				<string>讓人摸不著頭腦</string>
				<string>腹黑</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>如果壹定要妳做出選擇，在搞笑力和戰鬥力之間，妳會選哪壹個？</string>
			<key>result</key>
			<array>
				<string>无</string>
				<string>无</string>
			</array>
			<key>answers</key>
			<array>
				<string>搞笑力</string>
				<string>戰鬥力</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>偷偷告訴我妳的角色的淚水槽容量是？</string>
			<key>result</key>
			<array>
				<string>F</string>
				<string>F</string>
				<string>F</string>
				<string>T</string>
			</array>
			<key>answers</key>
			<array>
				<string>這個星球有多少水，我就有多少淚！</string>
				<string>只要別人看不見，我還是會偷偷揉壹下眼睛~</string>
				<string>死人的時候哭過壹次，高興的時候從來沒哭過</string>
				<string>全劇只流過壹次淚，是因為前壹晚沒有睡好…</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在非戰鬥情況下，妳最常用到的場景技能是？</string>
			<key>result</key>
			<array>
				<string>S</string>
				<string>N</string>
				<string>S</string>
				<string>N</string>
			</array>
			<key>answers</key>
			<array>
				<string>慘絕人環的暴力調教</string>
				<string>毫無預兆地進入傲嬌模式</string>
				<string>明明剛吃過早飯又喊肚子餓</string>
				<string>毀天滅地的吐槽</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在戰鬥情況下，妳最常用到的技能是？</string>
			<key>result</key>
			<array>
				<string>N</string>
				<string>S</string>
				<string>N</string>
				<string>S</string>
			</array>
			<key>answers</key>
			<array>
				<string>用超人的感知洞破敵人的心理，敵人在壹陣絕望後倒地</string>
				<string>用驚人的怪力把敵人壹拳揍飛，在天上化作壹顆小星星</string>
				<string>用絕倫的念力施加精神攻擊，敵人壹陣眩暈後倒地</string>
				<string>用無敵的速度讓敵人完全追不上妳，眨眼之間被妳瞬殺</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>對於故事中人氣第二的角色（妳是第壹），妳希望妳們的關系是？</string>
			<key>result</key>
			<array>
				<string>T</string>
				<string>F</string>
			</array>
			<key>answers</key>
			<array>
				<string>競爭對手</string>
				<string>合作夥伴</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>假設這個故事包含戀愛情節，妳希望遇到壹個：</string>
			<key>result</key>
			<array>
				<string>男性</string>
				<string>男性</string>
				<string>女性</string>
				<string>女性</string>
			</array>
			<key>answers</key>
			<array>
				<string>內向的男孩子</string>
				<string>開朗的男孩子</string>
				<string>內向的女孩子</string>
				<string>開朗的女孩子</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>妳希望同行夥伴的人數：</string>
			<key>result</key>
			<array>
				<string>I</string>
				<string>E</string>
			</array>
			<key>answers</key>
			<array>
				<string>越少越好</string>
				<string>越多越好</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>假如妳的同伴因為與妳爭執而和妳鬧脾氣，妳更傾向於：</string>
			<key>result</key>
			<array>
				<string>I</string>
				<string>E</string>
			</array>
			<key>answers</key>
			<array>
				<string>相對間接地讓他知道妳的想法和感受</string>
				<string>相對直接地讓他知道妳的想法和感受</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>以下4拷問方式，哪種對妳的角色來說最殘忍？</string>
			<key>result</key>
			<array>
				<string>无</string>
				<string>无</string>
				<string>无</string>
				<string>无</string>
			</array>
			<key>answers</key>
			<array>
				<string>逼妳餓著肚子看他吃飯</string>
				<string>用狗尾巴草在妳的腳底瘙癢</string>
				<string>講故事講到壹半就在妳超級好奇的時候戛然停止</string>
				<string>在妳睡得正香的時候唱壹首超級難聽的歌</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>妳的戰鬥風格更偏向於？</string>
			<key>result</key>
			<array>
				<string>J</string>
				<string>P</string>
			</array>
			<key>answers</key>
			<array>
				<string>穩紮穩打，依賴可靠的招式輸出可觀的傷害</string>
				<string>依賴威力巨大的招式，雖然經常打不中對方</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在快打敗對方的時候，對方說我還有絕招，妳傾向於：</string>
			<key>result</key>
			<array>
				<string>P</string>
				<string>J</string>
			</array>
			<key>answers</key>
			<array>
				<string>給他喘息的機會，看看是什麽絕招</string>
				<string>立即補刀，不給他喘息的機會</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在只能學會壹種絕技的前提下，以下4種絕技妳會學哪個？</string>
			<key>result</key>
			<array>
				<string>N</string>
				<string>S</string>
				<string>S</string>
				<string>N</string>
			</array>
			<key>answers</key>
			<array>
				<string>預知術-能預先知道未來會發生的事</string>
				<string>飛行術-能自由自在地在天空中飛翔</string>
				<string>變身術-能隨心所欲變成任何人和物</string>
				<string>靈視術-能透過心眼看到千裏之外的事情</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在開發必殺技的時候，妳通常發現自己：</string>
			<key>result</key>
			<array>
				<string>J</string>
				<string>P</string>
			</array>
			<key>answers</key>
			<array>
				<string>能夠快速而專註地完成壹個必殺技的開發</string>
				<string>會花費大量時間完成壹個必殺技，因為妳總被新的點子打斷</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>偷偷告訴我妳的最大弱點是？</string>
			<key>result</key>
			<array>
				<string>F</string>
				<string>F</string>
				<string>T</string>
				<string>T</string>
			</array>
			<key>answers</key>
			<array>
				<string>容易被可愛的小孩子騙</string>
				<string>容易被可憐的老爺爺騙</string>
				<string>容易因為輕視對手而被幹翻</string>
				<string>容易因為自己的理論被現實推翻而陷入迷之僵直</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>以下兩種劇情，哪個更吸引妳？</string>
			<key>result</key>
			<array>
				<string>S</string>
				<string>N</string>
			</array>
			<key>answers</key>
			<array>
				<string>到達新的地方</string>
				<string>發現新的視角</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在反派boss的眼中，妳更像是壹個什麽樣的人？</string>
			<key>result</key>
			<array>
				<string>P</string>
				<string>J</string>
			</array>
			<key>answers</key>
			<array>
				<string>壹個喜歡臨場發揮的混蛋</string>
				<string>壹個喜歡制定計劃的混蛋</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>假如反派boss問妳，對妳來說，擁有力量意味著什麽？妳會回答：</string>
			<key>result</key>
			<array>
				<string>F</string>
				<string>T</string>
			</array>
			<key>answers</key>
			<array>
				<string>能夠保護重要的同伴</string>
				<string>能夠按照自己的意誌去生存</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在執行任務時看到需要幫助的老奶奶，妳會怎麽做？</string>
			<key>result</key>
			<array>
				<string>F</string>
				<string>T</string>
			</array>
			<key>answers</key>
			<array>
				<string>雖然考慮到可能是埋伏，不過還是要幫</string>
				<string>既然考慮到可能是埋伏，還是不幫為好</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>假設妳的故事不會出續作，妳是否期待著故事以開放結局結束？</string>
			<key>result</key>
			<array>
				<string>P</string>
				<string>J</string>
			</array>
			<key>answers</key>
			<array>
				<string>期待，開放結局令我的結尾充滿想象空間</string>
				<string>不期待，我希望能給自己的故事畫上完美的句點</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>按照妳的性格，以下4種最終決戰的情節，哪個最可能發生在妳的故事裏？</string>
			<key>result</key>
			<array>
				<string>无</string>
				<string>无</string>
				<string>无</string>
				<string>无</string>
			</array>
			<key>answers</key>
			<array>
				<string>同伴死了，妳潛力爆發成為了宇宙最強，為同伴報了仇</string>
				<string>幹掉了最終boss之後的妳仍是單身弱雞，但同伴都活著</string>
				<string>所有人都活著，連最終boss也被妳感化了，但妳殘廢了</string>
				<string>幹掉了最終boss之後，妳犧牲了所有同伴，成為了新的boss</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>假如最終采用的是大團圓結局，妳最希望妳的故事以怎樣的畫面結束？</string>
			<key>result</key>
			<array>
				<string>E</string>
				<string>I</string>
			</array>
			<key>answers</key>
			<array>
				<string>妳和最愛的人壹起飛向繁榮的城鎮</string>
				<string>妳和最愛的人壹起飛向遠方的天空</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>這部動漫的名字，以下哪個更適合妳的故事？</string>
			<key>result</key>
			<array>
				<string>E</string>
				<string>I</string>
				<string>I</string>
				<string>E</string>
			</array>
			<key>answers</key>
			<array>
				<string>《熱血物語》</string>
				<string>《孤星物語》</string>
				<string>《暗夜物語》</string>
				<string>《光明物語》</string>
			</array>
		</dict>
	</array>
	<key>questions</key>
	<array>
		<dict>
			<key>title</key>
			<string>使用声昔是因为</string>
			<key>answers</key>
			<array>
				<string>更好的审视自己的内心</string>
				<string>更好的审视自己的想法</string>
				<string>感到好奇</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>希望声昔帮你做什么？</string>
			<key>answers</key>
			<array>
				<string>帮我记录我的内心</string>
				<string>帮我记录我的想法</string>
				<string>捕捉生活中的乐趣</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔我最希望遇到：</string>
			<key>answers</key>
			<array>
				<string>心灵有深度的人</string>
				<string>思想有高度的人</string>
				<string>幽默有故事的人</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔与人聊天我最讨厌：</string>
			<key>answers</key>
			<array>
				<string>说话言不由衷</string>
				<string>思维不讲逻辑</string>
				<string>态度过份热情</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔与人聊天我最看重：</string>
			<key>answers</key>
			<array>
				<string>态度真诚</string>
				<string>逻辑清楚</string>
				<string>舒服有趣</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔你想要记录：</string>
			<key>answers</key>
			<array>
				<string>我的内心世界</string>
				<string>我的思想宇宙</string>
				<string>我的奇思妙想</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔我最想要听到：</string>
			<key>answers</key>
			<array>
				<string>“我也经历过”</string>
				<string>“完全赞同，而且补充一点...”</string>
				<string>“我能get到你说的”</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>在声昔我最想看到：</string>
			<key>answers</key>
			<array>
				<string>别人如何面对痛苦</string>
				<string>别人对身边事物的见解</string>
				<string>别人的故事</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>一年以后，你希望自己变得：</string>
			<key>answers</key>
			<array>
				<string>更纯粹</string>
				<string>更深刻</string>
				<string>更平和</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>一年以后，你希望在声昔收获：</string>
			<key>answers</key>
			<array>
				<string>一个分享彼此痛苦的朋友</string>
				<string>一个值得与之交谈的朋友</string>
				<string>一个能get彼此的朋友</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>你觉得自己：</string>
			<key>answers</key>
			<array>
				<string>比较社恐</string>
				<string>不太社恐</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>你觉得自己：</string>
			<key>answers</key>
			<array>
				<string>想象力丰富，多数不切实际</string>
				<string>想象力丰富，多数还算实际</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>你觉得自己：</string>
			<key>answers</key>
			<array>
				<string>大多时候是冷血动物</string>
				<string>大多时候算不上冷血</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>你觉得自己：</string>
			<key>answers</key>
			<array>
				<string>即使已经知道自己错了，也不会改变。</string>
				<string>对方说的有道理，我可能会采纳</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
