<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moning</key>
	<array>
		<string>早晨是一只花鹿，踩到我额上，世界多么好</string>
		<string>把荆棘当作铺满鲜花的原野，便没什么能将我折磨</string>
		<string>大声的笑出来，就不害怕了</string>
		<string>我只关心未来，因为我的余生都会在那里度过</string>
		<string>压根没有结束这回事，只有新的开始</string>
		<string>趁我们都还年轻，多做我们想要做的任何事</string>
		<string>只要觉得可以，那就大胆些</string>
		<string>再难我们也一路走来了，又何惧更远的地方</string>
		<string>我想用澄净的眼光，看清楚事实真相再做决定</string>
		<string>不要为明天忧虑，因为明天有明天的忧虑</string>
		<string>生活一定要五颜六色，但绝不能乱七八糟</string>
		<string>我不知道将要去何方，但我已在路上</string>
		<string>我只身前行，却仿佛带着一万雄兵</string>
		<string>初见你像是云雨撞见山风，才相逢便相拥</string>
		<string>山河相隔我也会为你心动</string>
		<string>踏实点，你想要的岁月都会给的</string>
		<string>将来的你，一定会感谢现在拼命的自己</string>
		<string>出发永远是最有意义的事，去做就是了</string>
		<string>最重要的不是我们在何处，而是我们朝什么方向走</string>
		<string>少年的热血和青春的诗，才刚刚开始</string>
		<string>今天是一个让一切变得更好的机会，别浪费</string>
		<string>凡事都要全力以赴，包括开心</string>
		<string>你要悄悄拔尖，然后惊艳所有人</string>
		<string>喜欢早晨的风，好像什么都可以重新开始</string>
		<string>铁打的身体，磁铁打的床</string>
	</array>
	<key>darkNight</key>
	<array>
		<string>黑暗的夜才会看见最美的星光，人生亦是如此</string>
		<string>你是首选，也是唯一</string>
		<string>世上最美不过的景致，是那些最初的心动不为人知</string>
		<string>我们原都是从从前走过来的，慢慢地又成了从前</string>
		<string>有一阵风会吹过我和你，有一个瞬间我们是零距离</string>
		<string>我看到那些岁月如何奔驰，挨过冬季便迎来了春天</string>
		<string>虽然辛苦，我还是会选择那种滚烫的人生</string>
		<string>忙碌和早睡是治愈心疾的良方</string>
		<string>未曾哭过长夜的人，不足以语人生</string>
		<string>自童年起，我便独自一人照顾着历代的星辰 </string>
		<string>我们走进了夜海，去打捞遗失的繁星</string>
		<string>醉后不知天在水，满船清梦压星河</string>
		<string>时间从来不语，却回答了所有问题</string>
		<string>如果无能为力，那就顺其自然</string>
		<string>你是我一生只会遇见一次的惊喜</string>
		<string>所谓岁月静好，是因为负重前行</string>
		<string>即使辛苦，我还是选择去过滚烫的人生</string>
		<string>我可以等，最好的事值得等</string>
		<string>然而世事千帆而过，路的尽头终会是温柔和月光</string>
		<string>去想无关紧要的事，去想想风吧</string>
		<string>别担心，一切都会好的</string>
		<string>不要着急，最好的总在不经意之间出现</string>
		<string>我想成为温柔的人，因为曾经被温柔的人那样对待
我想成为温柔的人，因为曾经被温柔的人那样对待
我想成为温柔的人，因为曾经被温柔的人那样对待
</string>
		<string>一定要爱着点什么，恰似草木对光阴的钟情</string>
		<string>四方食事，不过一碗人间烟火</string>
		<string>生命，其实到最后总能成诗</string>
	</array>
	<key>night</key>
	<array>
		<string>星星永远发着光，我也会在你身旁</string>
		<string>未来不足惧，过往不须泣</string>
		<string>你未必光芒万丈 但始终温暖有光</string>
		<string>一个能够升起月亮的身体，必然驮住了无数次日落</string>
		<string>天暗下來 你就是光</string>
		<string>错过了落日余晖，还可以静待满天繁星</string>
		<string>有些烦恼丢掉了，才有云淡风轻的机会</string>
		<string>我想写首诗，于是想到了你</string>
		<string>天空黑暗到一定程度，星辰就会熠熠生辉</string>
		<string>林深时见鹿，海蓝时见鲸</string>
		<string>山中若有眠，枕的是月</string>
		<string>今天的不开心到此为止，明天依旧万丈光芒</string>
		<string>我的医生就是清风流水，日月星辰</string>
		<string>我明白你会来，所以我等</string>
		<string>在不经意间被别人牵挂着，是件幸福的事</string>
		<string>越是试着忘记，越是记得深刻</string>
		<string>假如有人问我烦扰的缘故，我不敢说出你的名字</string>
		<string>即使没有月亮，心中也是一片皎洁</string>
		<string>要向一颗微不足道的小星学习，可以微弱但要有光</string>
		<string>也许错过了上一站的美好，才遇见了下一站的惊喜</string>
		<string>每朵云都下落不明 每盏月都不知所踪</string>
		<string>你的眼神再温柔些，月亮和我都会融化</string>
		<string>人闲车马慢 路遥星亦辞</string>
		<string>第一次看到宇宙，是和你四目相对的时候</string>
		<string>你是落日弥漫的橘，天边透亮的星</string>
		<string>我怕你人间孤独，所以我给你带来了万盏灯火</string>
		<string>时光的书在风里翻转，里面是我写给你的祝福</string>
		<string>我喜欢黑夜，没有黑夜我们永远看不到繁星点点</string>
	</array>
	<key>white</key>
	<array>
		<string>人间有味是清欢</string>
		<string>不要着急，最好的总会在最不经意的时候出现</string>
		<string>去做你想做的事，趁阳光正好微风不噪</string>
		<string>已识乾坤大，犹怜草木青</string>
		<string>凡是过往皆为序章，凡是未来皆有可期</string>
		<string>你未必光芒万丈，但始终温暖有光</string>
		<string>我喜欢出发，凡是到达了的地方都属于昨天</string>
		<string>人间骄阳刚刚好，风过林梢他们正当年少</string>
		<string>总有不期而遇的温柔和生生不息的希望</string>
		<string>钻石在被发现前，都要经受埋藏尘埃的寂寞时光</string>
		<string>生活原本沉闷，但跑起来就有风</string>
		<string>我想用澄净的眼光，看清楚事实真相再做决定</string>
		<string>记得自己是谁，便知道要做什么及走什么样的路</string>
		<string>有些路看着很近走去却很远，缺少耐心便走不到头</string>
		<string>我走得很慢，但我从不后退</string>
		<string>看过浮生万物山河无数，依然要独立坚强温暖</string>
		<string>总会有突如其来的遇见，和始料未及的欢喜</string>
		<string>世间的美好是及时的善意和恰到好处的温柔</string>
		<string>风很清澈，从头到脚都很快乐</string>
		<string>阳光的酒调得淡却又醇，浅斟在每一朵小野花里</string>
		<string>阳光有时很好有时很暗，这就是生活</string>
		<string>人生只有回不去的过去，没有过不去的当下</string>
		<string>人若是更新不了自己，只能在旧和重复之中迷惑</string>
		<string>一定要爱着点什么，恰似草木对光阴的钟情</string>
		<string>为了寻找你，我搬进鸟的眼睛常常盯着路过的风</string>
		<string>我们度过的每一个日常，也许就是连续发生的奇迹</string>
	</array>
</dict>
</plist>
