<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nightButtonName</key>
	<dict>
		<key>btnstop</key>
		<string>btn_stopye</string>
		<key>btnplay</key>
		<string>btn_playye</string>
		<key>img_empty</key>
		<string>img_empty_img_ye</string>
		<key>mes</key>
		<string>btn_toolbar_me_default</string>
		<key>listens</key>
		<string>btn_toolbar_listen_default</string>
		<key>stays</key>
		<string>btn_toolbar_bottle_default</string>
		<key>mains</key>
		<string>btn_toolbar_voice_default</string>
		<key>tuiianzl</key>
		<string>normal_ye</string>
		<key>tuijiangood</key>
		<string>good_ye</string>
		<key>tuijinabad</key>
		<string>bad_ye</string>
		<key>whiterelpy</key>
		<string>img_echo_circle_ye</string>
		<key>chatchoiceimage</key>
		<string>btn_chat_img_ye</string>
		<key>rightMore</key>
		<string>more_ye</string>
		<key>cellColseNo</key>
		<string>cellClose_ye</string>
		<key>waitimage</key>
		<string>ImagewhiteWait_ye</string>
		<key>like_select</key>
		<string>like_selecty</string>
		<key>like_default_yebtn</key>
		<string>like_default_ye</string>
		<key>replayButtonName</key>
		<string>reply_ye</string>
		<key>moreButtonName</key>
		<string>cellMore_ye</string>
		<key>navback</key>
		<string>ye_btn_nav_back</string>
		<key>shareNewButton</key>
		<string>share_ye</string>
		<key>tabbarsendbuton</key>
		<string>btn_home_post_ye</string>
		<key>cellnextbutton</key>
		<string>nightto</string>
		<key>mineEdit</key>
		<string>btn_edit_ye</string>
	</dict>
	<key>whiteButtonName</key>
	<dict>
		<key>btnstop</key>
		<string>btn_stop</string>
		<key>btnplay</key>
		<string>btn_play</string>
		<key>img_empty</key>
		<string>img_empty_img</string>
		<key>mes</key>
		<string>me</string>
		<key>listens</key>
		<string>ting</string>
		<key>stays</key>
		<string>message</string>
		<key>mains</key>
		<string>home</string>
		<key>tuiianzl</key>
		<string>normal</string>
		<key>tuijiangood</key>
		<string>good</string>
		<key>tuijinabad</key>
		<string>bad</string>
		<key>whiterelpy</key>
		<string>img_echo_circle</string>
		<key>chatchoiceimage</key>
		<string>btn_chat_img</string>
		<key>rightMore</key>
		<string>more</string>
		<key>cellColseNo</key>
		<string>cellClose</string>
		<key>like_select</key>
		<string>like_select</string>
		<key>waitimage</key>
		<string>ImagewhiteWait</string>
		<key>like_default_yebtn</key>
		<string>like_default</string>
		<key>shareNewButton</key>
		<string>share</string>
		<key>replayButtonName</key>
		<string>reply</string>
		<key>moreButtonName</key>
		<string>cellMore</string>
		<key>navback</key>
		<string>btn_nav_back</string>
		<key>tabbarsendbuton</key>
		<string>btn_home_post</string>
		<key>mineEdit</key>
		<string>btn_edit</string>
		<key>cellnextbutton</key>
		<string>whiteLeft</string>
	</dict>
	<key>nightColor</key>
	<dict>
		<key>whiteColor</key>
		<string>#B2B2B2</string>
		<key>searchVarBackColor</key>
		<string>#181828</string>
		<key>siliaolayerColor</key>
		<string>#72727F</string>
		<key>bigLineColor</key>
		<string>#12121F</string>
		<key>DarkTextColor</key>
		<string>#3E3E4A</string>
		<key>MainTextColor</key>
		<string>#72727F</string>
		<key>RecodBackColor</key>
		<string>#12121F</string>
		<key>lineColor</key>
		<string>#12121F</string>
		<key>listColor</key>
		<string>#12121F</string>
		<key>BackColor</key>
		<string>#14151A</string>
		<key>mainThumeColor</key>
		<string>#1DBDF2</string>
	</dict>
	<key>whiteColor</key>
	<dict>
		<key>whiteColor</key>
		<string>#FFFFFF</string>
		<key>searchVarBackColor</key>
		<string>#E4E4E4</string>
		<key>siliaolayerColor</key>
		<string>#D7D7D7</string>
		<key>bigLineColor</key>
		<string>#F7F7F7</string>
		<key>DarkTextColor</key>
		<string>#999999</string>
		<key>MainTextColor</key>
		<string>#333333</string>
		<key>RecodBackColor</key>
		<string>F3F3F3</string>
		<key>lineColor</key>
		<string>#EDEDED</string>
		<key>listColor</key>
		<string>#F7F7F7</string>
		<key>BackColor</key>
		<string>#14151A</string>
		<key>mainThumeColor</key>
		<string>#1DBDF2</string>
	</dict>
</dict>
</plist>
