<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>videoCover</key>
		<string>https://pic.rmb.bdstatic.com/bjh/914b8c0f9814b14c5fedeec7ec6615df5813.jpeg</string>
		<key>intro</key>
		<string>这里有啥文字内容就</string>
		<key>vid</key>
		<string>1</string>
		<key>fileName</key>
		<string>网络视频文件 01</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>https://sx-local.oss-cn-shenzhen.aliyuncs.com/video/tv/123456.mp4</string>
		<key>screen</key>
		<string>2</string>
		<key>video_len</key>
		<string>68</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>2</string>
		<key>videoCover</key>
		<string>https://file.ccmapp.cn/group1/M00/16/64/rApntl7CSdeAbpYqABArOjGaasg001.jpg</string>
		<key>screen</key>
		<string>1</string>
		<key>video_len</key>
		<string>68</string>
		<key>fileName</key>
		<string>网络视频文件 02</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>https://images.apple.com/media/cn/macbook-pro/2016/b4a9efaa_6fe5_4075_a9d0_8e4592d6146c/films/design/macbook-pro-design-tft-cn-20161026_1536x640h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>3</string>
		<key>intro</key>
		<string>dfsdfsf sf</string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00799-3949.jpg</string>
		<key>video_len</key>
		<string>68</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>fileName</key>
		<string>网络视频文件 03</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/ipad-pro/how-to/2017/a0f629be_c30b_4333_942f_13a221fc44f3/films/dock/ipad-pro-dock-cn-20160907_1280x720h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>4</string>
		<key>intro</key>
		<string>打发</string>
		<key>fileName</key>
		<string>网络视频文件 04</string>
		<key>video_len</key>
		<string>68</string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00638-2134.jpg</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/ipad/2018/08716702_0a2f_4b2c_9fdd_e08394ae72f1/films/use-two-apps/ipad-use-two-apps-tpl-cn-20180404_1280x720h.mp4</string>
		<key>nickName</key>
		<string>声昔小二</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>5</string>
		<key>fileName</key>
		<string>网络视频文件 05</string>
		<key>screen</key>
		<string>1</string>
		<key>intro</key>
		<string>稍等</string>
		<key>video_len</key>
		<string>68</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/us/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/hero/large.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>6</string>
		<key>fileName</key>
		<string>网络视频文件 06</string>
		<key>screen</key>
		<string>1</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/us/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/thumbnails/buck/large.mp4</string>
		<key>video_len</key>
		<string>68</string>
		<key>videoCover</key>
		<string>https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00316-3504.jpg</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>7</string>
		<key>fileName</key>
		<string>网络视频文件 07</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00715-2529.jpg</string>
		<key>video_len</key>
		<string>68</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/us/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/thumbnails/erin-sarofsky/large.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>8</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>screen</key>
		<string>1</string>
		<key>video_len</key>
		<string>68</string>
		<key>fileName</key>
		<string>网络视频文件 08</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240223/857407/20240223_104659_857407_2389571413.jpg</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/films/buck/imac-pro-buck-tpl-cn-20180223_1280x720h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>9</string>
		<key>fileName</key>
		<string>网络视频文件 09</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>screen</key>
		<string>1</string>
		<key>video_len</key>
		<string>68</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/573314/20240222_231445_1fbc6bd653288bec8c7d3e66b4a03861.jpg</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/films/esteban-diacono/imac-pro-esteban-diacono-tpl-cn-20180223_1280x720h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>10</string>
		<key>fileName</key>
		<string>网络视频文件 10</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/205130/20240222_230553_923d2d319240673e3adb6b34ec3a66c0.jpg</string>
		<key>video_len</key>
		<string>68</string>
		<key>intro</key>
		<string>fsafsfsafsfs发所发生的范德萨范德萨范德萨范德萨发沙发沙发沙发上</string>
		<key>screen</key>
		<string>1</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/films/luigi-honorat/imac-pro-luigi-honrat-tpl-cn-20180223_1280x720h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>11</string>
		<key>fileName</key>
		<string>网络视频文件 11</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>video_len</key>
		<string>68</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/857003/20240222_220229_857003_5972383436.jpg</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>url</key>
		<string>https://www.apple.com/105/media/cn/imac-pro/2018/d0b63f9b_f0de_4dea_a993_62b4cb35ca96/films/bts/luigi-honorat/imac-pro-luigi-honrat-bts-tpl-cn-20180223_1280x720h.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>12</string>
		<key>fileName</key>
		<string>网络视频文件 12</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/854660/20240222_220140_854660_9845470906.jpg</string>
		<key>screen</key>
		<string>1</string>
		<key>video_len</key>
		<string>68</string>
		<key>url</key>
		<string>http://image.byebyetext.com/user-voiceimg/20240131/1/20240131_095534f45ec177567faaf0b7369eb8a56c124e1.mp4</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>13</string>
		<key>fileName</key>
		<string>网络视频文件 13</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/859051/20240222_202925_859051_0531050631.jpg</string>
		<key>video_len</key>
		<string>68</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>screen</key>
		<string>1</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>url</key>
		<string>http://image.byebyetext.com/user-voiceimg/20240131/1/20240131_0955130c1efb06534be745d9f23860e4ea6a0e1.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>14</string>
		<key>fileName</key>
		<string>网络视频文件 14</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>video_len</key>
		<string>68</string>
		<key>nickName</key>
		<string></string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/537356/20240222_153823_537356_9432145435.jpg</string>
		<key>url</key>
		<string>http://image.byebyetext.com/user-voiceimg/20240131/1/20240131_0954274e125220096853abf86d9c06d0e699241.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>15</string>
		<key>fileName</key>
		<string>网络视频文件 15</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>video_len</key>
		<string>68</string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240222/858757/20240222_093619_858757_4659274168.jpg</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>url</key>
		<string>http://image.byebyetext.com/user-voiceimg/20240131/1/20240131_0956180cafdc1c35aace738f1b588ba7bc9f141.mp4</string>
	</dict>
	<dict>
		<key>vid</key>
		<string>16</string>
		<key>fileName</key>
		<string>网络视频文件 16</string>
		<key>video_len</key>
		<string>68</string>
		<key>screen</key>
		<string>1</string>
		<key>videoCover</key>
		<string>https://sx-pro.oss-cn-shenzhen.aliyuncs.com/podcast/upload/20240221/854660/20240221_215255_854660_3309518002.jpg</string>
		<key>intro</key>
		<string>这里有啥文字内容就展示啥文字内容，就展示</string>
		<key>nickName</key>
		<string>声昔小二</string>
		<key>url</key>
		<string>http://image.byebyetext.com/user-voiceimg/20240131/1/20240131_09563603d83b0bb3093a6c39a27328d07eda1d1.mp4</string>
	</dict>
</array>
</plist>
